body {
  background: black;
  color: lightgrey;
  padding-top: 30px;
  padding-left: 300px;
  padding-right: 300px;
}

@media all and (max-width: 1220px) {
  body {
    padding-left: 120px;
    padding-right: 120px;
  }
}

@media all and (max-width: 850px) {
  body {
    padding-left: 30px;
    padding-right: 30px;
  }
}

section {
  padding-top: 10px;
  padding-bottom: 10px;
}

a:link {
  color: lightgrey
}

a:visited {
  color: gray
}

.container-row-centered {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#container-avatar {
  order: 0;
  padding: 10px;
  flex-grow: 1;
}

#container-title {
  order: 1;
  padding: 30px;
  flex-grow: 8;
}

#container-title-tagline {
  color: grey;
}

.font-mono {
  font-family: 'Source Code Pro', 'Lucida Console', Monaco, monospace;
}

.row-list-item {
  flex-grow: 1;
  padding: 5px;
  text-align: center;
}

nav {
  background-color: black;
}

nav a.menu-item {
  margin-top: -2px;
  margin-left: -2px;
  color: green;
  border-style: solid;
  border-width: 2px;
  border-color: grey;
  text-decoration: none;
  font-size: large;
}

nav a:hover {
  color: lightgreen;
}

/* TODO: make transition smooth */
.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.contact-logo {
  width: 64px;
  height: 64px;
}

#resume {
  width: 100%;
  height: 800px;

}
